
/* Color schemes */

.color_1_1 {
    background-color: #B8D8BA;
}

.color_1_2 {
    background-color: #D9DBBC;
}

.color_1_3 {
    background-color: #FCDDBC;
}

.color_1_4 {
    background-color: #EF959D;
}

.color_1_5 {
    background-color: #69585F;
}